/* 
(feb-2025-refactor)
add root values forcolors???
rem vs em, 
contrast, 
transparent border for high contrast, 
font size 
increse reset width???
add body width???
*/
body { 
    background-color: #151515; 
    border-radius: 6px;
    color: #f2f2f2; 
    font-family: sans-serif; 
    font-size: 1rem;
    padding-inline: 12px; 
}

/* **** header **** */
h1 { 
    text-align:left; 
    font-size: 1.3rem; 
    margin-block: 0;
}

#reset {
    font-size: 1rem;
    padding: 3px 10px;
    background-color: #226622;
    color: #eeeeee;
    border: 2px solid black;
    border-radius: 6px;
}

/* **** form **** */
form { 
    margin-block: 10px;
}

fieldset > legend { 
    background-color: #203040; 
    border: 2px solid white; 
}

.line {
    padding-block: 1px;
}

.pervasive .line, 
.blocks .lineup .line {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.pervasive .line span, 
.blocks .lineup .line span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lineup label { 
    display: inline-block; 
    width: 10.5rem; 
}

input[type="radio"] + label { 
    border: 2px solid transparent;
}

input[type="range"] {
    border: 2px solid rgba(200,200,200,.8);
    border-radius: 2px;
    display: inline-block;
    background-color: rgb(40, 40, 40);
    height: 13px;
    width: 128px;
}
input[type="range"]:focus {
    border: 2px solid rgba(40, 120, 255, 1);
    z-index: 0 !important;
}

input[type="number"] {
    display: inline-block;
    width: 3rem;
    font-size: 0.9rem;
    color: white;
    background-color: rgb(40, 40, 40);
    border: 2px solid rgba(160,160,220,.6);
    border-radius: 6px;
    padding: 1px 2px 0;
    height: auto;
}

select {
    color: white;
    background-color: rgb(60, 40, 60);
    border: 2px solid rgba(160,160,220,.6);
    border-radius: 6px;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 2px;
    width: 12rem;
}

/* **** footer **** */

a.footerItem { 
    color: #f4f4e0;
}

a { 
    padding: 2px;
}

/* a, select {
    border: 2px solid black;
    border-radius: 6px;
} */


/* **** focus **** */
a:focus, select:focus, button:focus, input[type="number"]:focus, input[type="radio"]:focus + label {
    border-color: rgba(60, 140, 255, 1) !important;
    border-radius: 6px;
    outline: 0;
    z-index: 999;
}


/* **** utilities **** */

.margin-top-10 { margin-top: 10px; }

.margin-top-15 { margin-top: 15px; }

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}