/* 
(feb-2025-refactor)
to fix: contrast for number input & select when in focus

*/
:root {
    --color-dark: #151515; 
    --color-light: #f2f2f2; 
    --color-blue-lighter: rgba(60, 140, 255, 1);
    --color-blue-darker: rgba(40, 120, 255, 1);
    --color-green: #287728;
    --color-purple: rgb(60, 40, 60);
    --color-gray: rgb(40, 40, 40);
    --color-light-gray: rgba(200,200,200,.8);
    --color-blue-gray: #203040; 
    --color-purple-gray: rgba(160,160,220,.6);
}

* {
    box-sizing: border-box;
}

body { 
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-inline: 12px; 
}

/* **** HEADER **** */
h1 { 
    font-size: 1.4rem; 
    margin-block: 0;
}

#reset {
    background-color: var(--color-green);
    border: 2px solid var(--color-dark);
    border-radius: 6px;
    color: var(--color-light);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-block: 0;
    padding: 3px 13px;
}

/* **** FORM **** */
form { 
    margin-block: 10px;
}

fieldset > legend { 
    background-color: var(--color-blue-gray);
    border: 2px solid var(--color-light);
}

.line {
    padding-block: 1px;
}

.line:has(input[type="radio"]) {
    padding-block: 1.5px;
}

.pervasive .line, 
.blocks .lineup .line {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.line span {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 12rem;
}

.lineup label { 
    display: inline-block; 
    width: 10.5rem; 
}

input[type="number"] {
    background-color: var(--color-gray);
    border: 2px solid var(--color-purple-gray);
    border-radius: 6px;
    color: var(--color-light);
    display: inline-block;
    font-size: 0.9rem;
    height: auto;
    padding: 1px 2px 0px;
    width: 3rem;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-gray);
    border: 2px solid var(--color-light-gray);
    cursor: pointer;
    /* for Firefox */
    height: 13px;
    width: 8rem;
}
 
input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;  
}
 
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; 
    appearance: none;
    background-image: linear-gradient(
        to bottom,
        #ebf1f6 0%,
        #abd3ee 50%,
        #89c3eb 51%,
        #d5ebfb 100%
    );
    -webkit-border-radius: 40px;
    border-radius: 40px;
    margin-top: -4px;
    height: 18px;
    width: 11px;
}

input[type="range"]::-moz-range-thumb {
    background-image: linear-gradient(
        to bottom,
        #ebf1f6 0%,
        #abd3ee 50%,
        #89c3eb 51%,
        #d5ebfb 100%
    );
    border: none; 
    border-radius: 40px;
    margin-top: -4px;
    height: 18px;
    width: 11px;
}

label input[type="checkbox"] {
    border-radius: 4px;
}
 
select {
    color: var(--color-light);
    background-color: var(--color-purple);
    border: 2px solid var(--color-purple-gray);
    border-radius: 6px;
    font-size: 0.9rem;
    padding: 2px;
    width: 12rem;
}

/* **** FOOTER **** */
.footerItem { 
    color: var(--color-light);
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
}

.cursorEffectsLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* **** FOCUS MODE **** */

input[type="range"]:focus {
    outline: none;
    border-color: var(--color-blue-darker);
 }

/* the label already has an outline */
input[type="radio"]:focus {
    outline: none;
}

input[type="radio"]:focus + label {
    border-radius: 4px;
    outline: 2px solid var(--color-blue-lighter);
    outline-offset: 2px;
}

input[type="checkbox"]:focus-visible {
    outline: 2px solid var(--color-blue-lighter);
    outline-offset: 2px;
}

/* to explore further: maybe a better solution for radio focus??? */
/* .line:has(input[type="radio"]:focus-visible) {
    border-radius: 4px;
    outline: 2px solid rgba(60, 140, 255, 1);
    outline-offset: 4px;
} */

select:focus, 
input[type="number"]:focus {
    border-color:var(--color-blue-lighter);
    border-radius: 6px;
    outline: none;
}

button:focus, 
a:focus-visible {
    border-radius: 4px;
    outline: 2px solid var(--color-blue-lighter);
    outline-offset: 1px;
}

/* **** UTILITIES **** */

.margin-top-10 { margin-top: 10px; }

.margin-top-15 { margin-top: 15px; }

.flex {
    display: flex;
    justify-content: space-between;
    align-items:self-start;
    width: 100%;
}